
# for <> in []:

In [4]:
range(5)    #내장함수, 시작-종료 범위 숫자를 발생! 0, 1, 2, 3, 4 의 범위 값을 가진다.

range(0, 5)

In [5]:
r = range(5)
r

range(0, 5)

In [7]:
type(r)

range

In [9]:
len(r)

5

In [10]:
for x in range(5):
    print(x)                    #0, 1, ,2, 3, 4 의 범위 값을 가진다.

0
1
2
3
4

In [11]:
for x in r:
    print(x)

0
1
2
3
4

In [12]:
for x in r:
    print(x * '*')

*
**
***
****

In [13]:
for x in range(10,100,4):
    print(x * '*')

**********
**************
******************
**********************
**************************
******************************
**********************************
**************************************
******************************************
**********************************************
**************************************************
******************************************************
**********************************************************
**************************************************************
******************************************************************
**********************************************************************
**************************************************************************
******************************************************************************
**********************************************************************************
**************************************************************************************
******************************************************************************************
**********************************************************************************************
**************************************************************************************************

In [15]:
for x in range(1,20):
    if x % 2 == 0:  #짝수
        print(x * '*')
    else:
        print(x * '+')

+
**
+++
****
+++++
******
+++++++
********
+++++++++
**********
+++++++++++
************
+++++++++++++
**************
+++++++++++++++
****************
+++++++++++++++++
******************
+++++++++++++++++++

In [16]:
x = 0
while x<5:
    print('A')
    x +=1

A
A
A
A
A

In [17]:
for x in range(5):
    print('A')

A
A
A
A
A

In [5]:
x = 0
while True:
    print('A')
    x += 1
    #종료조건...
    if x == 5:
        break

A
A
A
A
A

In [26]:
while True:
    score = int(input('점수를 입력하세요: '))
    
if score == -1: 
    print('Quit') 
break

elif score >= 90:
    grade='A'

elif score >= 80:
    grade='B'
    
elif score >=70:
    grade='C'
    
elif score >= 60:
    grade='D'

else:
    grade='F'
    
print('성적: %d점' %score)
print('등급: %s' %grade)

SyntaxError: invalid syntax (<ipython-input-26-5c16802b8d49>, line 8)

In [28]:
stop = int(input('끝 숫자를 입력: '))

sum = 0
for i in range(1, 101):
    if i%3 == 0:
        print('%d' %i, end= '')
        sum += i
        
print('\n', '-' * 50)
print('1~100에서 3의 배수의 합계: %d' %sum)

끝 숫자를 입력: 30
369121518212427303336394245485154576063666972757881848790939699
 --------------------------------------------------
1~100에서 3의 배수의 합계: 1683

In [5]:
while True:
    stop = int(input('끝 숫자를 입력: '))
    if stop == -1:
        print('Quit...') ;break

sum = 0
for i in range(1, stop):
    if i%3 == 0:
        print('%d' %i, end= '')
        sum += i
        
print('\n', '-' * 50)
print('1~stop에서 3의 배수의 합계 %d' %sum)

끝 숫자를 입력: 30
끝 숫자를 입력: 20
끝 숫자를 입력: -1
Quit...

 --------------------------------------------------
1~stop에서 3의 배수의 합계 0

In [9]:
while True:
    stop = int(input('끝 숫자를 입력: '))
    if stop == -1:
        print('Quit...')
    break

sum = 0
for i in range(1, stop):
    if i%3 == 0:
        print('%d' %i, end= '')
        sum += i
        
print('\n', '-' * 50)
print(f'1~{stop}에서 3의 배수의 합계: {sum}')

끝 숫자를 입력: 1

 --------------------------------------------------
1~1에서 3의 배수의 합계: 0

In [30]:
msg = '안녕하세요'
msg[:2]

'안녕'

In [31]:
for s in msg:
    print(s)

안
녕
하
세
요

In [33]:
msg[0:2]

'안녕'

In [41]:
print('-'*30)
print('  섭씨   화씨')
print('-'*30)

for c in range(-20,31,5):
    f = c*0.9/5.0+32.0
    print('%6d %6.1f' %(c,f))
    
print('-'*30)

------------------------------
  섭씨   화씨
------------------------------
   -20   28.4
   -15   29.3
   -10   30.2
    -5   31.1
     0   32.0
     5   32.9
    10   33.8
    15   34.7
    20   35.6
    25   36.5
    30   37.4
------------------------------

In [42]:
n1 = int(input('시작 수를 입력하세요: '))
n2 = int(input('끝 수를 입력하세요: '))

sum = 0
for i in range(n1, n2+1):
    if i%5 != 0:                     #5의 배수가 아닌 수의 합계
        sum += i
        
print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' %(n1,n2,sum))

시작 수를 입력하세요: 100
끝 수를 입력하세요: 200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

In [46]:
n1 = int(input('시작 수를 입력하세요: '))
n2 = int(input('끝 수를 입력하세요: '))

sum = 0
for i in range(n1, n2+1):
    if i%5 == 0:                      
        sum += i                  #5의 배수의 합계 
        
print('-'*50)
print('%d에서 %d까지 5의 배수의 합계 : %d' %(n1,n2,sum))

시작 수를 입력하세요: 100
끝 수를 입력하세요: 200
--------------------------------------------------
100에서 200까지 5의 배수의 합계 : 3150

In [47]:
n1 = int(input('시작 수를 입력하세요: '))
n2 = int(input('끝 수를 입력하세요: '))

sum = 0
for i in range(n1, n2+1, 5):
        sum += i                    #5의 배수의 합계
        
print('-'*50)
print('%d에서 %d까지 5의 배수의 합계 : %d' %(n1,n2,sum))

시작 수를 입력하세요: 100
끝 수를 입력하세요: 200
--------------------------------------------------
100에서 200까지 5의 배수의 합계 : 3150

In [51]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ')

for x in number:
    if x != '-':
        print('%s' %x, end="")

하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-4123123-4123213
01041231234123213

In [54]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ')

for x in number:
    if x != '-':
        print(f'{x}', end="")

하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-1234-5657y
01012345657y

In [53]:
#split 메소드 이용방법

number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ')

if not number:
    print("전화번호를 입력해야 합니다.")

else:
    print(number.split('-'))
    print("".join(number.split('-')))

하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-1234-1555
['010', '1234', '1555']
01012341555

In [63]:
phone = input('하이픈을 뺀 11자리의 휴대폰 번호를 입력하세요: ')

number = '';
for i in range(0, len(phone)):
    
    if i == 2:
        number = number+(phone[2]+'-')
    elif i == 6:
        number = number+(phone[6]+'-')
    else:
        number = number+phone[i]
        
print(number)

하이픈을 뺀 11자리의 휴대폰 번호를 입력하세요: 01045671234
010-4567-1234

In [60]:
phone = "010-222-3333"
phone[:3]+'-'+phone[4:7]+'-'+phone[8:len(phone)]

'010-222-3333'

In [68]:
print('-'*50)

for a in range(2,10):
    for b in range(1,10):
        c = a*b
        print('%d*%d=%d' %(a,b,c))
        
    print('-'*50)

--------------------------------------------------
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
--------------------------------------------------
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
--------------------------------------------------
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
--------------------------------------------------
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
--------------------------------------------------
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
--------------------------------------------------
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
--------------------------------------------------
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
--------------------------------------------------
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
--------------------------------------------------

In [85]:
number=int(input('숫자를 입력해보세요: '))

for a in range(number,10):
    for b in range(1,10):
        c = a*b
        print('%d*%d=%d' %(a,b,c))
            
    if b == 9:
        break
                
    print('-'*30)

숫자를 입력해보세요: 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [86]:
for i in range(1,11):
    for j in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [89]:
for i in range(1,11):
    for j in range(1, 10-i+1):
        print('', end='')
    for k in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [100]:
print('-'*30)
print('  섭씨   화씨')
print('-'*30)

"""
for c in range(-20,31,5):
    f = c*0.9/5.0+32.0
    print('%6d %6.1f' %(c,f))
"""

c = -20
while c < 41:
    f = c*0.9/5.0+32.0
    print('%5d %6.2f' %(c,f))
    c += 1

------------------------------
  섭씨   화씨
------------------------------
  -20  28.40
  -19  28.58
  -18  28.76
  -17  28.94
  -16  29.12
  -15  29.30
  -14  29.48
  -13  29.66
  -12  29.84
  -11  30.02
  -10  30.20
   -9  30.38
   -8  30.56
   -7  30.74
   -6  30.92
   -5  31.10
   -4  31.28
   -3  31.46
   -2  31.64
   -1  31.82
    0  32.00
    1  32.18
    2  32.36
    3  32.54
    4  32.72
    5  32.90
    6  33.08
    7  33.26
    8  33.44
    9  33.62
   10  33.80
   11  33.98
   12  34.16
   13  34.34
   14  34.52
   15  34.70
   16  34.88
   17  35.06
   18  35.24
   19  35.42
   20  35.60
   21  35.78
   22  35.96
   23  36.14
   24  36.32
   25  36.50
   26  36.68
   27  36.86
   28  37.04
   29  37.22
   30  37.40
   31  37.58
   32  37.76
   33  37.94
   34  38.12
   35  38.30
   36  38.48
   37  38.66
   38  38.84
   39  39.02
   40  39.20

In [114]:
for i in range(5):

    i = 10 * '*'
    print(i)

**********
**********
**********
**********
**********

In [124]:
x = 0

while True:
    
    print('**********')
    x += 1
    
    if x == 5:
        break

**********
**********
**********
**********
**********