#### 파이썬

In [3]:

kor = 90
eng = 100

sum = kor + eng
avg = sum / 2

print('합계: ', sum)
print('평균: ', avg)

합계:  190
평균:  95.0

# 문자열

In [3]:

#문자열 리터럴

str = '안녕'
str = "안녕"  #따옴표, 쌍따옴표 가능

str

'안녕'

In [4]:
type(str)

str

In [5]:
a = 30
b = '30'

In [6]:
type(a), type(b)

(int, str)

In [7]:
x = 'i am happy'
x

'i am happy'

In [8]:
x[0],x[1],x[2]

('i', ' ', 'a')

In [9]:
len(x)

10

In [11]:
x[len(x)-1]

'y'

In [12]:
x[-1]

'y'

In [15]:
# 인덱스 범위
x[4:8]

' hap'

In [16]:
x[4:]

' happy'

In [17]:
x[0:]

'i am happy'

In [19]:
x[1:]

' am happy'

In [20]:
x[-4:]

'appy'

In [21]:
x[-4:-2]

'ap'

In [22]:
x[:-2]

'i am hap'

# Bool

In [23]:
True

True

In [24]:
False

False

In [25]:
10>20

False

In [26]:
10 > 20 == True

False

In [27]:
20 > 10 == True

False

In [28]:
type(True), type(False)

(bool, bool)

# 연산자

산술 연산자 : + , -, *, % , // , **

In [29]:
a = 10
b = 20

In [31]:
c = a + b * 10 - 5/5
c

209.0

In [32]:
10 % 3

1

In [33]:
7 // 3

2

In [34]:
7 ** 2

49

In [35]:
7 ** 0

1

+=, -=, *=, /=, //=, %=

In [36]:
x = 10
x += 10
x

20

In [37]:
x -= 10
x

10

In [38]:
x *= 2
x

20

In [40]:
x /= 2
x

#나누기는 실수로 나온다.

5.0

In [41]:
x //= 2
x

2.0

In [43]:
x %= 2
x

0.0

#

In [44]:
10 / 2.0

5.0

## 문자열의 연산자: *,+,

In [45]:
"호" * 100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [46]:
"--" * 100

'--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [47]:
# "호" ** 2 안 됨.

In [48]:
a = '호'
b = '빵'
a + b      #결합 #concatenating

'호빵'

In [49]:
# a + 1000 안 됨

In [50]:
a * 100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [54]:
a + str(10)

'호10'

In [57]:
a = '100'
100 * int(a)

10000

In [59]:
name = '홍길동'
print("내 이름은 " + name + "입니다.")

내 이름은 홍길동입니다.

In [60]:

print("내 이름은 %s 입니다." %name)

내 이름은 홍길동 입니다.

In [62]:
name = '홍길동'
addr = '서울'

print('내 이름은 %s이고, 주소는 %s 입니다.' %(name, addr))   #치환연산자와 변수의 갯수가 같아야 한다. 그렇지 않으면 에러.

내 이름은 홍길동이고, 주소는 서울 입니다.

In [63]:
age = 1000
print('내 이름은 %s이고, 주소는 %s이고 나이는 %d 입니다.' %(name, addr,age))

내 이름은 홍길동이고, 주소는 서울이고 나이는 1000 입니다.

In [71]:
grade = 99.5
print('내 점수는 %f입니다.' %grade)

내 점수는 99.500000입니다.

In [75]:
grade = 95.123152123
print('내 점수는 %.2f입니다.' %grade)

내 점수는 95.12입니다.

In [76]:
print('내 점수는 %05d입니다.' %grade)

내 점수는 00095입니다.

In [77]:
print('내 이름은 %s이고, 주소는 %s이고 나이는 %d이고 점수는 %f 입니다.' %(name, addr,age,grade))

내 이름은 홍길동이고, 주소는 서울이고 나이는 1000이고 점수는 95.123152 입니다.

In [78]:
print('내 이름은 %s이고, 주소는 %s이고 나이는 %d이고 점수는 %.3f 입니다.' %(name, addr,age,grade))

내 이름은 홍길동이고, 주소는 서울이고 나이는 1000이고 점수는 95.123 입니다.

# .format()

In [79]:
print('내 이름은 {}이고, 주소는 {}이고 나이는 {} 입니다.' .format(name, addr,age))

내 이름은 홍길동이고, 주소는 서울이고 나이는 1000 입니다.

In [80]:
print('내 이름은 {0}이고, 주소는 {2}이고 나이는 {1} 입니다.' .format(name, age,addr))

내 이름은 홍길동이고, 주소는 서울이고 나이는 1000 입니다.

In [81]:
print('this {food} is {adjective}' .format(food='spam', adjective='absolutely horrible'))

this spam is absolutely horrible

In [82]:
print('통조림 {음식}은 {그래}' .format(음식='스팸', 그래='끔찍해'))

통조림 스팸은 끔찍해

# 문자열 객체

In [83]:
a = '옹'
type(a), type('옹')

(str, str)

In [84]:
"abc".upper()

'ABC'

In [85]:
"aBcDDDegf".swapcase()

'AbCdddEGF'

In [86]:
"aBcDDDegf".capitalize()

'Abcdddegf'

In [87]:
"dbc ssdflk".strip()

'dbc ssdflk'

In [90]:
len(" dbc ssdflk ")

12

In [91]:
len(" dbc ssdflk ".strip())

10

In [92]:
" dbc ssdflk ".rstrip()

' dbc ssdflk'

In [93]:
" dbc ssdflk ".lstrip()

'dbc ssdflk '

In [94]:
" dbc ssdflk ".replace('ss', 'kk')

' dbc kkdflk '

In [95]:
" dbc ssdflk ".replace('s', 'kk')

' dbc kkkkdflk '

In [97]:
" dbc ssdflk ".find("ss")  #012345 번째

5

In [98]:
msg = ['a','b','c']  #리스트
'#'.join(msg)

'a#b#c'

In [100]:
"010-1111-99999".split("-")     # - 으로 구분해서

['010', '1111', '99999']

# 프린트

In [102]:
print("2020","12","2", sep="/")

2020/12/2

In [103]:
print("2020{}12{}2".format("/","/"))

2020/12/2

In [104]:
print("010","1111","99999", sep="-")

010-1111-99999

In [105]:
print("사과", end="고구마")

사과고구마

In [113]:
print("사과 고구마")

사과 고구마

In [109]:
print("안녕")
print("그래 안녕")
print("안녕해", end="\n\n\n")
print("하이")

안녕
그래 안녕
안녕해


하이

In [110]:
print("안녕")
print("그래 안녕")
print("안녕해\n\n\n")
print("하이")

안녕
그래 안녕
안녕해



하이

# 입력

In [114]:
name = input("이름을 입력하세요")
name

이름을 입력하세요홍길동

'홍길동'

In [115]:
name = input("이름을 입력하세요")
type(name)

이름을 입력하세요홍길동

str

In [117]:
a = input('첫 번째 숫자를 입력하세요. ')
b = input('두 번째 숫자를 입력하세요. ')

c = int(a) + int(b)          #a와 b를 int()함수를 이용하여 정수형 숫자로 변환

print(c)

첫 번째 숫자를 입력하세요. 5
두 번째 숫자를 입력하세요. 7
12

In [119]:
inch = float(input('인치를 입력하세요: '))
    
cm = inch * 2.54

print('센티미터 : %.2f' %cm)

인치를 입력하세요: 32.8
센티미터 : 83.31

In [123]:
inch = float(input('인치를 입력하세요: '))
    
cm = inch * 2.54

print('센티미터 : %5.3f' %cm)

인치를 입력하세요: 34123.1232
센티미터 : 86672.733

In [128]:
name = input('학생 이름을 입력하세요 : ')
kor = int(input('국어 성적을 입력하세요 : '))
eng = int(input('영어 성적을 입력하세요 : '))
math = int(input('수학 성적을 입력하세요 : '))

total = kor+eng+math
avg = total/3

print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점' %(name,kor,eng,math,avg))

학생 이름을 입력하세요 : 홍길동
국어 성적을 입력하세요 : 80
영어 성적을 입력하세요 : 90
수학 성적을 입력하세요 : 90
이름:홍길동, 국어:80, 영어:90, 수학:90, 평균:86.7점

In [130]:
name = input('학생 이름을 입력하세요 : ')
kor = int(input('국어 성적을 입력하세요 : '))
eng = int(input('영어 성적을 입력하세요 : '))
math = int(input('수학 성적을 입력하세요 : '))

total = kor+eng+math
avg = total/3

print('이름:{}, 국어:{}, 영어:{}, 수학:{}, 평균:{}점' .format(name,kor,eng,math,avg))

학생 이름을 입력하세요 : 홍길동
국어 성적을 입력하세요 : 80
영어 성적을 입력하세요 : 90
수학 성적을 입력하세요 : 90
이름:홍길동, 국어:80, 영어:90, 수학:90, 평균:86.66666666666667점

In [131]:
name = input('학생 이름을 입력하세요 : ')
kor = int(input('국어 성적을 입력하세요 : '))
eng = int(input('영어 성적을 입력하세요 : '))
math = int(input('수학 성적을 입력하세요 : '))

total = kor+eng+math
avg = total/3

print('이름:{1}, 국어:{3}, 영어:{4}, 수학:{2}, 평균:{5}점' .format(name,math,kor,eng,avg))

학생 이름을 입력하세요 : 홍길동
국어 성적을 입력하세요 : 80
영어 성적을 입력하세요 : 90
수학 성적을 입력하세요 : 90

IndexError: tuple index out of range

# 주석

In [132]:
mystr = """
asdfasdf
asdfadsfasdf
adsfasdfdfadf
"""

In [133]:
mystr

'\nasdfasdf\nasdfadsfasdf\nadsfasdfdfadf\n'

In [134]:
print(mystr)

asdfasdf
asdfadsfasdf
adsfasdfdfadf

In [135]:
type(mystr)

str

In [136]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [137]:
"""독 스트링은 문자열이다
   하지만 주석 용도로도 가능하다.
   """

'독 스트링은 문자열이다\n   하지만 주석 용도로도 가능하다.\n   '