In [2]:
def func(x):
    x = 100
    print('func():x=', x, ',id=', id(x))

In [3]:
func(x)

func():x= 100 ,id= 1510456608

In [5]:
x = 10
print('메인:x=', x, ',id=', id(x))

메인:x= 10 ,id= 1510453728

In [6]:
def func(x):
    x[0]=100
    print('func():x=', x, ',id=', id(x))
x = [1,2,3]
print('메인:x=', x, ',id=', id(x))
func(x)
print('메인:x=', x, ',id=', id(x))

메인:x= [1, 2, 3] ,id= 3012629822280
func():x= [100, 2, 3] ,id= 3012629822280
메인:x= [100, 2, 3] ,id= 3012629822280

In [30]:
def func(x):
    x=0
    print(id(x))
    if 10>1:
        x=0
        print(id(x))

In [31]:
func(1)

1510453408
1510453408

In [32]:
def func(x):
    x=0
    print(id(x))
    if 10>1:
        x=100
        print(id(x))

In [33]:
func(1)

1510453408
1510456608

In [34]:
x=100
print(id(x))
func(x)

1510456608
1510453408
1510456608

In [38]:
def f1(a):
    a += 10
    print(a, end=',')

a=10
f1(a)
print(a)

20,10

In [39]:
def f2(a):
    global y
    y += a
    x = 500
    print(y, end=',')
    
x = 100
y = 200
f2(x)
print(x, end=',')
print(y)

300,100,300

In [45]:
def numSquare(num):
    list_new = []
    for i in range(1, num+1):
        list_new.append(i**2)
        
    return list_new

n=5
result=numSquare(n)
print(result)

[1, 4, 9, 16, 25]

In [47]:
numbers=[77,36,29,11,20,6,91,33]

print(numbers)

print(sorted(numbers))

[77, 36, 29, 11, 20, 6, 91, 33]
[6, 11, 20, 29, 33, 36, 77, 91]

In [ ]:
n=int(input('n값을 입력하세요: '))

for i range(2,n):
    if