In [1]:
1,2,3,4

(1, 2, 3, 4)

In [2]:
a = 1,2,3,4
type(a)

tuple

In [3]:
t=(1,2,3,-10,100)
max(t), sum(t), min(t)

(100, 96, -10)

In [4]:
sum(t)/len(t)

19.2

In [6]:
t+t

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

In [ ]:
# t[0] = 1000 튜플에 새로운 요소는 삽입 불가

In [7]:
t.count(3)

1

In [8]:
t.index(-10)

3

In [9]:
li = list(t)
li                   #t라는 튜플이 li 리스트로 변경

[1, 2, 3, -10, 100]

In [10]:
li.append(10)
li.append(20)        #리스트로 변경했기 때문에 요소 삽입 가능
li

[1, 2, 3, -10, 100, 10, 20]

In [11]:
t = tuple(li)         #다시 튜플로 변경
t

(1, 2, 3, -10, 100, 10, 20)

In [12]:
sorted(t)         #튜플 정렬

[-10, 1, 2, 3, 10, 20, 100]

In [30]:
dans = (2,3,4,5,6,7,8,9)  #튜플은 Interable

print('구구단표')
print('-'*30)

for dan in dans:
    for i in range(1,10):
        print('%d X %d = %d' %(dan,i,dan*i))
    print('-'*30)

구구단표
------------------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
------------------------------

In [26]:
admin_info=('admin','12345','rubato@naver.com')

id=input('관리자 아이이디를 입력하세요: ')
password = input('관리자 비밀번호를 입력하세요: ')

if id == admin_info[0] and password == admin_info[1]:
    print('관리자 입니다.')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이이디를 입력하세요:  admin
관리자 비밀번호를 입력하세요:  12345

관리자 입니다.

In [31]:
scores=[]

In [36]:
scores = dict()

In [37]:
type(scores)

dict

# enumerate() & items()

In [38]:
scores={'kor':85, 'eng':100, 'math':90}

for i, key in enumerate(scores): 
    print(i,key,scores.get(key))

0 kor 85
1 eng 100
2 math 90

In [39]:
scores['kor']      # scores.get('kor')

85

In [40]:
for k, v in scores.items():
    print(k,v)

kor 85
eng 100
math 90

In [43]:
scores = {'김예진':90, '박영진':95, '김소희':84}

sum = 0
for key in scores:
    sum += scores[key]
    
    print('%s: %d' %(key, scores[key]))
    
avg = sum/len(scores)

print('합계: %d, 평균: %.2f' %(sum, avg))

김예진: 90
박영진: 95
김소희: 84
합계: 269, 평균: 89.67

3

In [45]:
scores={'kor':85, 'eng':100, 'math':90}
scores.keys()

dict_keys(['kor', 'eng', 'math'])

In [46]:
scores.values()

dict_values([85, 100, 90])

In [47]:
scores.items()

dict_items([('kor', 85), ('eng', 100), ('math', 90)])

In [48]:
for k, v in scores.items():
    print(k,v)

kor 85
eng 100
math 90

# 체크

In [49]:
'kor' in scores

True

In [50]:
scores.get('kor')       #값이 있으면 반환

85

In [52]:
type(scores.get('k'))     #값이 없으면 None

NoneType

In [53]:
if scores.get('k') == None:
    print('OK')

OK

In [55]:
ad = {'id':'admin', 'password':'11111'}

in_id = input('아이디를 입력하세요: ')
in_password = input('비밀번호를 입력하세요: ')

if(in_id == ad['id'] and in_password == ad['password']):
    print('모든 정보에 접근 가능합니다!')
else:
    print('정보에 접근 권한이 없습니다!')

아이디를 입력하세요:  admin
비밀번호를 입력하세요:  11111

모든 정보에 접근 가능합니다!

In [68]:

t = {'kim99':12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':18000}

for id,mp in t.items():
    print("아이디: %s, 마일리지: %d" %(id,mp))

아이디: kim99, 마일리지: 12000
아이디: lee66, 마일리지: 11000
아이디: han55, 마일리지: 3000
아이디: hong77, 마일리지: 5000
아이디: hwang33, 마일리지: 18000

In [72]:
t = {'kim99':12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':18000}

number = 1
for key in t:
    print('%d. 아이디: %s, 마일리지:%d점' %(number,key,t[key]))
    number += 1

1. 아이디: kim99, 마일리지:12000점
2. 아이디: lee66, 마일리지:11000점
3. 아이디: han55, 마일리지:3000점
4. 아이디: hong77, 마일리지:5000점
5. 아이디: hwang33, 마일리지:18000점

In [73]:
def even_odd(num):       #() 괄호는 연산자       #위치기반 매개변수
    if num % 2 == 0:
        print('%d는 짝수이다.' %num)
    else:
        print('%d는 홀수이다.' %num)
        
even_odd(7)
even_odd(8)
even_odd(19)

7는 홀수이다.
8는 짝수이다.
19는 홀수이다.

In [76]:

def average(*scores):                            
    sum = 0
    for i in range(len(scores)):
        sum += scores[i]
        
    avg = sum/len(scores)
    print('%d과목의 평균: %.2f' %(len(scores),avg))

average(80,90,100)
average(50,70,90,85)
average(80,90,5,50,80,55)

3과목의 평균: 90.00
4과목의 평균: 73.75
6과목의 평균: 60.00

In [79]:
def hello(*args):
    print(args)

In [80]:
hello(1,2,3,4)

(1, 2, 3, 4)

In [81]:
hello(['1',0,100],{'a':100})

(['1', 0, 100], {'a': 100})